@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#welcome {
    background-color: #121212;
}

#welcome div:first-of-type {
    position: relative;
    width: calc(100vw + 15px);
    height: calc(100vh + 15px);
    top: -15px;
    left: -15px;
    font-size: 1.5rem;
    text-align: justify;
    background: url("../media/bg.png") fixed center / cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.08);
    font-weight: bolder;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#welcome div:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 0;
}

/*#welcome span:first-of-type {*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*}*/

#welcome a {
    height: 3rem;
    width: 3rem;
    filter: drop-shadow(-1px -1px 1px rgba(255,255,255,.1))
    drop-shadow(1px 1px 1px rgba(0,0,0,.5))
    drop-shadow(2px 2px 2px rgba(206,89,55,0));
}

#welcome h1 {
    color: #EBEBEB;
    font-size: 4rem;
    text-shadow: 2px 2px 0 #7A7A7A, -14px -20px 5px rgba(206,89,55,0);
    font-family: 'Abril Fatface', cursive;
}

#welcome h3 {
    color: #b1b0b0;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);
    font-size: 2rem;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

/*#################################################*/

#cv {
    height: auto;
    overflow-y: auto;
}

#cv__container {
    padding-top: 2rem;
}

.paper {
    --paper-color: #d5e0f9;
    --paper-dark: #c2d0ea;
    --shadow-size: 0;
    --transparent: rgba(213, 224, 249, 0);
    padding: 1rem;
    position: relative;
    background: linear-gradient(
            to bottom right,
            var(--paper-dark),
            20%,
            var(--transparent)
    ),
    var(--paper-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
    /*margin: 50px auto auto;*/

}

.paper > div {
    width: 100%;
}

.paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    ),
    linear-gradient(
            to right,
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    );
}

.png {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}

/*###################################################*/

#about .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to right,
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    );
}

/*###################################################*/

#lang .paper div {
    display: flex;
    justify-content: space-between;
}

#lang p:nth-of-type(2) {
    text-align: right;
}

/*###################################################*/

#skills p {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#skills p span {
    display: block;
}

#skills p span:nth-of-type(2) {
    text-align: right;
}

/*###################################################*/

#pdata .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to right,
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    );
}

#pdata p {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#pdata p span {
    display: block;
}

#skills p span:nth-of-type(2) {
    text-align: right;
}


/*###################################################*/

#contacts .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to right,
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    );
}

#contact_section {
    z-index: 100;
    width: 100%;
}

#contact_section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact_section textarea, #contact_section button {
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    outline: none;
}

#contact_section textarea {
    resize: horizontal;
}

#contact_section button {
    width: 40%;
    margin-left: auto;
    padding: .5rem;
    background-color: rgba(184, 197, 224, 0.56);
    cursor: pointer;
}

#contact_section button:hover {
    background-color: rgba(142, 156, 194, 0.64);
}

#contacts > p {
    text-align: center;
}

#contacts .links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#contacts .links img {
    height: 3rem;
    width: 3rem;
}

@media (max-width: 576px) {
    #welcome div:first-of-type {
        font-size: 1rem;
    }
    #welcome div:nth-of-type(2) {
        width: 96vw;
    }
    #welcome h1 {
        font-size: 2rem;
    }
    #welcome h3 {
        font-size: 1rem;
    }
    #pdata p:nth-of-type(2) {
        /**/
    }
    #contact_section button {
        width: 100%;
    }
}