#welcome {
    background-color: #121212;
}

#welcome div:first-of-type {
    position: relative;
    width: calc(100vw + 15px);
    height: calc(100vh + 15px);
    top: -15px;
    left: -15px;
    font-size: 1.2rem;
    text-align: justify;
    background: url("../media/bg.png") fixed center / cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.08);
    /*font-family: "Bodoni MT", serif;*/
    font-family: "Times New Roman", serif;
    font-weight: bolder;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#welcome div:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 0;
}

#welcome span:first-of-type {
    display: flex;
    gap: 1rem;
}

#welcome a {
    height: 3rem;
    width: 3rem;
    filter: drop-shadow(-1px -1px 1px rgba(255,255,255,.1))
    drop-shadow(1px 1px 1px rgba(0,0,0,.5))
    drop-shadow(2px 2px 2px rgba(206,89,55,0));
}


#welcome h1, h3 {
    font-family: "Britannic Bold", sans-serif;
    text-transform: uppercase;
}

#welcome h1 {
    color: #EBEBEB;
    font-size: 4rem;
    text-shadow: 2px 2px 0 #7A7A7A, -14px -20px 5px rgba(206,89,55,0);
}

#welcome h3 {
    color: #b1b0b0;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);
    font-size: 2rem;
    font-style: italic;
}

/*#################################################*/

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .container p {
    text-align: center;
}

/*#################################################*/

#education .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#education .container p {
    text-align: center;
}

#education .container p span {
    font-style: italic;
}

/*#################################################*/

#skills .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .content {
    height: 100vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .tagcloud {
    font-size: 1.6rem;
    text-align: center;
}

#skills .tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

#skills .tagcloud--item:hover {
    opacity: 1 !important;
    z-index: 100 !important;
    font-weight: bold;
}

#skills .light .tagcloud--item {
    color: #fff;
}

#skills .light .tagcloud--item:hover {
    background-color: rgba(255,255,255,.1);
    border: 1px solid #fff;
}

/*#################################################*/

#languages .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#languages .container p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#languages .container span:nth-of-type(2) {
    font-style: italic;
}

/*#################################################*/

#contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact form * {
    flex: 1 0 100%;
    padding: .6rem;
    font-size: 1.2rem;
    border: #121212 solid 1px;
    outline: none;
    background-color: #ffffff;
    resize: none;
}

#contact form *:focus {
    box-shadow: 1px 1px #1f1f1f;
}

#contact button {
    grid-area: submit;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #121212;
    border: none;
    color: #FFFEFF;
}

#contact button:hover {
    box-shadow: 1px 1px #666262;
}

@media (max-width: 576px) {
    #welcome div:nth-of-type(2) {
        width: 96vw;
    }
    #skills .tagcloud {
        font-size: 1.2rem;
    }
    #contact form {
        width: 100%;
    }
}